/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  * {
margin: 0;
padding: 0;
  }

  nav{
    width: 100%;
    height: 65px;
    background-color: ghostwhite;
  }

ul.menu-bar {
  background-color: ghostwhite;

}
ul.menu-bar li{
  list-style: none;
  display: inline-block;
  float:left;
  line-height: 100px;
  background-color: ghostwhite;
}

ul.menu-bar li a {
  display: block;
text-decoration: none;
font-size: 20px;
font-family: arial;
color: #1e1e1e;
padding: 0 20px;
}

ul.menu-bar li a:hover {
  color: #0DA0A3;
}



a {
    /* set the text color to blue here */
    color: blue;
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: #0DA0A3;
    /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  body {
    /* set the background color here */
    background-color: ghostwhite;
    /* set the text color to black here */
    color: black;
    /* set the font here */
    font-family: Arial, Helvetica, sans-serif;
    /* set the text alignment here */
    text-align: center;
   }

   p.paragraph {
    text-align:justify;
    margin-right: 5rem;
    margin-left: 5rem;
    text-indent: 35px;
     
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    /* set the text color of to #075AAB here */
    
    /* set both the bottom margin and top margin to 2.5rem here */
    margin-bottom: 2.5rem;
    margin-top: 3.5rem;
    color: #F25F5C;

   }

  h3 {
    
    color: #F25F5C;
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align:center;
    
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 3rem;
    color:#0DA0A3;
    margin-right: 5rem;
    margin-left: 5rem;
   
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
